<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Liam Monahan" %></title>
    
    <%= stylesheet_link_tag "normalize", "style" %>
    <%= javascript_include_tag  "all" %>
  </head>
  
  <body class="<%= page_classes %>">
  	<div id="sidebar-wrapper">
  		<div id="sidebar">
  			<h2 class="name"><a href="/">Liam Monahan</a></h2>
  			<a href="https://github.com/spicybits"><span class="mark github-mark"></span></a>
  		</div>
      <footer>
    	  <h2>monahan.io</h2>
    	</footer>
  	</div>
  	<div class="container">
  		<div class="content main-content">
		  <h2><%= current_page.data.title %></h2>
		  <hr class="flared" />
  	      <%= yield %>
  		</div>
  	</div>
    <%= partial "footer" %>
  </body>

  <%= partial "analytics" %>

</html>
